[Unit]
Description=Mender Connect service
Wants=network-online.target mender-client.service mender-authd.service
After=systemd-resolved.service network-online.target mender-client.service mender-authd.service

[Service]
Type=idle
User=root
Group=root
ExecStart=/usr/bin/mender-connect daemon
Restart=always

[Install]
WantedBy=multi-user.target
