stages:
  - test_prep
  - test
  - build
  - publish

include:
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-golang-lint.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-golang-unittests.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-commits.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-license.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-github-status-updates.yml'
  - project: Northern.tech/Mender/mendertesting
    file:
      - qa-common/runner.yml
      - qa-common/retry.yml

default:
  tags: !reference [.qa-common-default-runner, tags]
  retry: !reference [.qa-common-default-retry, retry]

test:unit:
  stage: test
  before_script:
    - !reference [.qa-common-network-go-retry, before_script]
  script:
    # start the dbus service
    - service dbus start
    # original from the gitlab-ci-check-golang-unittests.yml template
    - go list ./... | grep -v vendor | xargs -n1 -I {} go test -v -covermode=atomic -coverprofile=../../../{}/coverage.txt {} 2>&1 | tee /dev/stderr | go-junit-report > ${CI_PROJECT_DIR}/test-results.xml || exit $?
    - mkdir -p tests/unit-coverage && find . -name 'coverage.txt' -exec cp --parents {} ./tests/unit-coverage \;
    - tar -cvf ${CI_PROJECT_DIR}/unit-coverage.tar tests/unit-coverage

build:make:
  stage: build
  needs: []
  image: golang:1.23-alpine
  before_script:
    - apk add --update git make gcc pkgconfig libc-dev glib-dev
  script:
    - make build

# Test that we can build with the golang version of the oldest supported yocto LTS release
test:backwards-compatibility:
  image: golang:1.17.13-bullseye
  needs: []
  before_script:
    - !reference [.qa-common-network-go-retry, before_script]
    - apt-get update && apt-get install --quiet --assume-yes $(cat deb-requirements.txt )
  script:
    - go build
